.main-nav{
  height: 70px;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 40px;
  margin: 0;
}

.nav-logo-text{
  width: 30%;
  color: #fff;
}

.menu-container{  
  width: 55%;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: nowrap;
}

.main-menu{
  max-width: 400px;
  display: flex; 
  flex: 1; 
  justify-content: space-between;
  align-items: flex-end;

}

.nav-link{
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px; 

  &.active{
    font-weight: bold;
    color: #fff;
  }

  &:hover{
    color: #fff;
  }
}

@media(max-width:768px){
  .menu-container{
    border: none;
  }
}

@media(max-width:576px){
  .menu-container{
    border: none;
  }
}


